<div>
    <!-- LOADING ICON -->
    <div class="app-loading">
        <picture>
            <!-- add images from assets to show at loading -->
            <!-- <img *ngIf="isDarkMode" src="" alt="loading..." style="width:150px">
            <img *ngIf="!isDarkMode" src="" alt="loading..." style="width:150px"> -->
        </picture>
        <svg class="spinner" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
        </svg>
    </div>
</div>