<div class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="card card-plain">
          <div class="card-header">Google Maps</div>
          <div>
            <label for="locations">Select a location: </label>
            <select id="locations" (change)="onLocationChange($event)">
              <option *ngFor="let location of locations" [value]="location.id">{{ location.name }}</option>
            </select>
            <label for="locations">Select a date: </label>
            <!-- <select id="dates" (change)="onDateChange($event)">
                 <option *ngFor="let date of dates" [value]="date">{{ date }}</option>
            </select> -->
          </div>
          <div style="width: 100%;
          height: 602px;" class="card-body">
            <app-loader *ngIf="isLoading"></app-loader>
          </div>
          
        </div>
      </div>
      <div class="container-fluid">
    </div>
    </div>
  </div>
  